// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";
//自定义icon
.ion-ios-my-xl:before { content: url("../assets/images/dianpujie-@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.ion-ios-my-xl-outline:before { content: url("../assets/images/huidianpujie@2x.png");width: 30px;
  height: 30px;
  display: block; }

.tab-button[aria-selected=true] .ion-md-my-xl:before { content: url("../assets/images/dianpujie-@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.tab-button[aria-selected=false] .ion-md-my-xl:before { content: url("../assets/images/huidianpujie@2x.png");width: 30px;
  height: 30px;
  display: block;}

//shenghuoquan

.ion-ios-my-sh:before { content: url("../assets/images/shenghuoquan@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.ion-ios-my-sh-outline:before { content: url("../assets/images/huishenghuoquan@2x.png");width: 30px;
  height: 30px;
  display: block; }

.tab-button[aria-selected=true] .ion-md-my-sh:before { content: url("../assets/images/shenghuoquan@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.tab-button[aria-selected=false] .ion-md-my-sh:before { content: url("../assets/images/huishenghuoquan@2x.png");width: 30px;
  height: 30px;
  display: block;}

//pengyouquan

.ion-ios-my-py:before { content: url("../assets/images/pengyouquan@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.ion-ios-my-py-outline:before { content: url("../assets/images/huipengyouquan@2x.png");width: 30px;
  height: 30px;
  display: block; }

.tab-button[aria-selected=true] .ion-md-my-py:before { content: url("../assets/images/pengyouquan@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.tab-button[aria-selected=false] .ion-md-my-py:before { content: url("../assets/images/huipengyouquan@2x.png");width: 30px;
  height: 30px;
  display: block;}
//shenghuoquan

.ion-ios-my-zq:before { content: url("../assets/images/zhuanqian@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.ion-ios-my-zq-outline:before { content: url("../assets/images/huizhuanqian@2x.png");width: 30px;
  height: 30px;
  display: block; }

.tab-button[aria-selected=true] .ion-md-my-zq:before { content: url("../assets/images/zhuanqian@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.tab-button[aria-selected=false] .ion-md-my-zq:before { content: url("../assets/images/huizhuanqian@2x.png");width: 30px;
  height: 30px;
  display: block;}

//shenghuoquan

.ion-ios-my-wd:before { content: url("../assets/images/geren@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.ion-ios-my-wd-outline:before { content: url("../assets/images/huigeren@2x.png");width: 30px;
  height: 30px;
  display: block; }

.tab-button[aria-selected=true] .ion-md-my-wd:before { content: url("../assets/images/geren@2x.png"); width: 30px;
  height: 30px;
  display: block;}

.tab-button[aria-selected=false] .ion-md-my-wd:before { content: url("../assets/images/huigeren@2x.png");width: 30px;
  height: 30px;
  display: block;}


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
